_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.env
.vscode

# Local Netlify folder
.netlify
imgs/web_p1010824.jpg
imgs/web_p1010827.jpg
imgs/web_p1010828.jpg
imgs/web_p1010829.jpg
imgs/web_p1010831.jpg
imgs/web_p1010840.jpg
imgs/web_p1010841.jpg
