<header>
  <a href="{{site.url}}">
  <img src="{{ site.baseurl }}/imgs/logo.png" alt="logo" class="logo"/>
  </a>
  <div class="en-tete">
    <a href="{{site.url}}/">
      <h1 class="titre-site">Maison <br>de la Poésie<br> de Rennes</h1>
    </a><br>
    <div class="horaires">
      {% capture day %}{{ "now" | date: "%a" }}{% endcapture %}
      {% capture hour %}{{ "now" | date: "%H"}}{% endcapture %}
      {% assign hour = hour | plus:0 %}
      {% if day == "Mon" or day == "Tue" or day == "Wed" or day == "Thu" or day == "Fri" %}
        {% if hour >= 9 and hour <= 17 %}
        Ouvert actuellement
        {% else %}
        Fermé actuellement
        {% endif %}
      {% else %}
      Fermé actuellement
      {% endif %}
      <br>De 9h à 17h, du lundi au vendredi <br> 47 rue Armand Rébillon
    </div>
  </div>
</header>
