<nav>
  <a href="{{site.url}}">
  <img src="{{ site.baseurl }}/imgs/logo.png" alt="logo" class="logo"/>
  </a>
  <div class="en-tete">
    <a href="{{site.url}}/">
      <h1 class="titre-site">Maison <br>de la Poésie <br>de Rennes</h1>
    </a><br>
  <!-- Legende
  <div class="legende">
    <div class="legende_res">Résidences</div>
    <div class="legende_renc">Rencontres</div>
    <div class="legende_asso">Associatif</div>
    <div class="legende_pod">Podcasts</div>
    <div class="legende_div">Divers</div>
  </div>
  <p>
  -->
    <div class="horaires">
      {% capture day %}{{ "now" | date: "%a" }}{% endcapture %}
      {% capture hour %}{{ "now" | date: "%H"}}{% endcapture %}
      {% assign hour = hour | plus:0 %}
      {% if day == "Mon" or day == "Tue" or day == "Wed" or day == "Thu" or day == "Fri" %}
        {% if hour >= 9 and hour <= 17 %}
        Ouvert actuellement
        {% else %}
        Fermé actuellement
        {% endif %}
      {% else %}
      Fermé actuellement
      {% endif %}
      <br>De 9h à 17h, du lundi au vendredi <br> 47 rue Armand Rébillon</p>
    </div>
  </div>

  <ul class="menu">
     {% for item in site.data.pagelist.pages %}
      <li>
            <a href="{{ item.url | absolute_url }}">
        {{ item.title }}
            </a>
      </li>

    {% endfor %}
  </ul>
  <div class="encart color_autres">
    <form method="post" action="">
      <label for="news">Newsletter</label><br>
      <input type="text" name="news" placeholder="Email"/>
      <button>S'inscrire</button>
    </form>
  </div>
  <div class="encart color_asso">
    <label>Réseaux</label><br>
    <a href="https://www.facebook.com/maiporennes/" target="_blank" class="social">F</a><a href="https://twitter.com/maiporennes?lang=fr" target="_blank" class="social">T</a><a href="https://www.instagram.com/maiporennes/?hl=fr" target="_blank" class="social">I</a>
  </div>
</nav>
