<nav class="menu-standard mobile-display-none">
  <ul>
    {% for item in site.data.pagelist.pages %}
    <li>
      <a href="{{ item.url | absolute_url }}"" title="{{ item.title }}">
        {{ item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
<div class="encart color_autres mobile-display-none">
  {% include scripts/mailchimp.html %}
</div>
<div class="encart color_asso mobile-display-none">
  <label>Réseaux</label><br>
  <a href="https://www.facebook.com/maiporennes/" target="_blank" class="social" title="Facebook Page">F</a><a href="https://twitter.com/maiporennes?lang=fr" target="_blank" class="social" title="Twitter Page">T</a><a href="https://www.instagram.com/maiporennes/?hl=fr" target="_blank" class="social" title="Instagram Page">I</a>
</div>
<div class="actus screen-display-none">
  {% include actus.html %}
</div>
