<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://maisondelapoesie-rennes.us19.list-manage.com/subscribe/post?u=6ee2005f8ba6a78ec2823feaf&amp;id=957e07a2c5&amp;f_id=008fa7e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="EMAIL"><h2>Newsletter</h2></label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Votre adresse email" required>
      <div id="conf"></div>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ee2005f8ba6a78ec2823feaf_957e07a2c5" tabindex="-1" value=""></div>
      <input type="submit" value="Envoyer" name="subscribe" id="mc-embedded-subscribe" class="button"
      onclick="conf()">
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';
}(jQuery));var $mcj = jQuery.noConflict(true);
function conf(){
  var a = document.forms["mc-embedded-subscribe-form"]["EMAIL"].value;
  if (a.length == 0){
    document.getElementById("conf").innerHTML = "Veuillez entrer une adresse mail.";
  }else{
  document.getElementById("conf").innerHTML = "Inscription confirmée.";
  }
}
</script>
