main{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap:30px;
  padding-top:20px;
}

#left{
grid-column: 1;
font-weight: bold;
text-align: right;
padding-left:30px;
}

#wrapper{
  grid-column: 2/6;
  padding-left:20px;
}

footer{
  grid-column: 1/6;
  background: var(--color_autres);
  border-radius:30% 60% 0% 0%;
  text-align:center;
}

/* LEFT SECTION */

header{
  width:100%;
  margin-bottom:var(--line-height);
}

.logo{
  width:70%;
  margin-bottom:var(--line-height);
}

.en-tete{
  background-color:var(--color_autres);
  border-radius: 60% 50% 70% 30%;
  a{
    text-decoration:none;
  }
  h1{
    text-transform: uppercase;
    font-size: 2em;
  }
  h1:hover{
    color:white;
    -webkit-text-stroke:1px black;
  }
}

.horaires{
  font-size:0.8em;
}

nav{
  margin-bottom:40px;
  a{
    border-bottom:5px solid var(--color_autres);
    text-decoration:none;
  }
  a:hover{
    border-bottom:5px solid black;
  }
}

nav li{
  font-size:20px;
  margin-bottom:calc(var(--line-height)/2);
  padding:5px;
  text-transform: uppercase;
}

.social{
  border:1px solid black;
  padding:5px;
  width:20px;
  height:20px;
  margin:5px;
  display:inline-block;
  text-align:center;
  cursor:pointer;
  text-decoration:none;
}

.social:hover{
  background:black;
  color:white;
}


/* WRAPPER */
/**Evenements - Middle section**/

.evenements{
  width:70%;
  position:relative;
  float:left;
}

.periode:not(:nth-last-child(1)){
  margin-bottom:calc(var(--line-height)*3);
}

.periode-titre{
  text-align:center;
  text-transform:uppercase;
  padding-top:calc(var(--line-height)/2);
  margin-bottom:var(--line-height);
}

.circle, .circle2 {
  height: 20px;
  width: 20px;
  background-color: var(--color_autres);
  display: inline-block;
}

.circle{
    border-radius: 20% 20% 90% 40%;
}
.circle2 {
  border-radius: 20% 40% 30% 60%;
}

.liste-posts a{
    text-decoration:none;
}

.liste-posts li > *{
  margin-top:5px;
  margin-bottom:5px;
}

.event_titre{
  text-transform:uppercase;
}

.event_titre:hover{
  border-radius: 0;
  transition-duration:0.5s;
}

.encart-meta{
  margin-bottom:var(--line-height);
  padding-left:2em;
  p{
    font-size:18px;
  }
}
.encart-meta p:not(:first-child){
  font-style: italic;
}

.event_dates{
  font-style: italic;
}

.event_art{
  display:inline-block;
    margin-bottom:5px;
}

.event_art:not(:last-of-type):after{
  content:", ";
}

/** Encarts - Right section */
.actus{
  width:25%;
  position:relative;
  float:right;
  a{
   text-decoration: none;
  }
  .actus a:hover{
   text-decoration: underline;
  }
}

.actu_res{
  margin-bottom:var(--line-height);
}

.prems ~ .prems { display:none; }

.encart{
padding:20px;
margin-bottom:20px;
}

.encart_res:not(:last-of-type){
  margin-bottom:var(--line-height);
}

.encart_res h2{
  margin-bottom:0px;
}


.encart_artiste{
    margin-bottom:5px;
}

.encart_infos{
  font-size:0.8em;
  line-height:1em;
}

.liencat, .liencatres{
  display:block;
  text-align:right;
  width:100%;
  font-weight:bold;
}

.liencatres{
    margin-bottom:var(--line-height);
}

.liencat:before, .liencatres:before{
  content:"→ ";
}

.nouv_bibli li{
  font-size: 1em;
  line-height: calc(var(--line-height)/1.5);
}

/**Couleurs**/
.color_res{
  background-color:var(--color_res);
  border-radius: 60% 40% 40% 20%;
}
.color_renc{
  background-color:var(--color_renc);
  border-radius: 20% 20% 60% 40%;
}
.color_asso{
  background-color:var(--color_asso);
  border-radius: 50% 30% 30% 20%;
}
.color_pod{
  background-color:var(--color_pod);
  border-radius: 30% 60% 30% 40%;
}

.color_scol{
  background-color:var(--color_scol);
  border-radius: 60% 80% 20% 20%;
}

.color_autres{
  background-color:var(--color_autres);
  border-radius: 40% 20% 60% 40%;
}




/* Journal */
.journal ul:first-of-type li:before{
  content:'';
}

.journal_titre{
  margin-bottom:var(--line-height);
  text-transform: uppercase;
}

/*PAGES */

article{
  width:60%;
}


article ul li:before{
  content:"→ "
}
.encart_rubrique{
padding:20px;
margin-bottom:20px;
}

.titre_page{
  text-align:center;
  text-transform:uppercase;
}


.post_descript p{
  margin-bottom:var(--line-height);
}

.post_descript img{
  filter: grayscale(100%);
  max-width:50%;
  height: auto;
transform: translate(50%, 0%);
}


.post_descript img:hover{
  filter:none;
}

.chapeau_artistes:not(:last-child)::after{
  content: ', '
}

.artiste_bio p{
    margin-bottom:var(--line-height);
}

.post_descript h1, h2{
    margin-bottom:var(--line-height);
}

.post_content ul {
  padding-left:50px;
}

.post_content ol{
  padding-left:70px;
}

.post_content li:last-of-type{
    margin-bottom:var(--line-height);
}

.sommaire{
  position:fixed;
  width:20%;
  top:140px;
  right:70px;
  padding-right:100px;
  background-color: var(--color_res);
  padding:20px;
  border-radius: 50% 50% 70% 30%;
  display:none;
}

.sommaire li:last-of-type{
    margin-bottom:0px;
}

.sommaire li{
  list-style: none;
}



label{
  font-size:20px;
}

input{
  border:none;
  border-bottom:1px solid black;
  background:none;
  width:100%;
}

button{
  border:1px solid black;
  background:none;
  padding:5px;
  width:100%;
  margin-top:10px;
  cursor:pointer;
}

button:hover{
  background:black;
  color:white;
}

/** Page_residences **/
#list_res p:not(:last-of-type){
  margin:0;
}

#list_res_scol p:not(:last-of-type){
  margin:0;
}

@media screen and (max-width: 1000px){
  main{
    grid-template-columns: repeat(3, 1fr);
  }

  #wrapper{
    grid-column: 2/4;
    padding:20px;
    overflow-x:auto;
  }

  .actus-droite{
    display:none;
  }

  .actus-gauche{
    display:block;
  }

  .nouv_bibli{
    display:none;
  }

  .evenements{
    width:100%;
  }

  .evenements-page{
    width:100%;
  }
  article{
    width:100%;
  }

  .ptte-ligne{
    display:none;
  }

  .liste-posts li{
    margin-bottom:30px;
  }
}

@media screen and (max-width: 700px){
  main{
    display:block;
  }

  #left{
    padding:0px;

  }

  nav{
    display:none;
  }
  .actus-gauche{
    display:none;
  }

  header{
    position:static;
    width:100%;

  }

  .logo{
    display:none;
  }

  .en-tete{
    text-align:left;
    width:100%;
    min-height:100px;
        border-radius:0% 0% 30% 60%;
  }

  .en-tete br{
    display:none;
  }

  .titre-site{
    padding-top:20px;
  }

  #wrapper{
    width:90%;
  }
}
