{%- include head.html -%}
<main class="page-content left-admin" aria-label="Content">
  <div id="left" >
    <div id="top">
      <a href="{{site.url}}/">
        <img src="{{ site.baseurl }}{{ site.data.settings.site_logo }}" alt="logo" class="logo mobile-display-none"/>
      </a>
    </div>
    <nav class="menu-admin">
      <ul>
        {% assign sorted = site.espace-admin-pages %}
        {% for post in sorted %}
          {% unless post.cr == "non" %}
          <li>
            <h3>{{ post.title }}</h3>
            {% if post.prochain_rdv != NULL %}
              → {{ post.prochain_rdv }}<br />
            {% endif %}
            <a href="{{ post.url | absolute_url }}">
              Tous les comptes rendus
            </a>
          </li>
          {% endunless %}
          {% if post.cr == "non" %}
            <li>
              <h3> <a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          <h3><a href="{{ site.url }}">Retour au site</a></h3>
        </li>
      </ul>
    </nav>
  </div>

  <div id="wrapper">
    <div class="header_page color_res">
      <h1 class="titre_page">{{ page.title }}</h1>
    </div>
      <article>
        <div class="post_descript">
          {% unless page.cr =="non" %}
            <h2>Tous les comptes rendus :</h2>
          {% endunless %}
          <ul>
          {% assign sorted_cr = site.espace-admin-cr | reverse %}
            {% for cr in sorted_cr %}
              {% if cr.cat == page.cat %}
                <li>
                  <a href="{{ cr.url | absolute_url }}">{{ cr.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% assign sorted_docs = site.espace-admin-docs | reverse %}
            {% for doc in sorted_docs %}
              {% if doc.cat == page.cat %}
                <li>
                  <a href="{{ doc.url | absolute_url }}">{{ doc.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          {{ content | markdownify }}
        </div>
      </article>
  </div>
</main>
{%- include footer.html -%}
