---
layout: default
---
<article >
  <div class="header_page color_autres ">
    <div class="titre_page"><h1>{{ page.title }}</h1></div>
  </div>
  <div class="sommaire sommaire-bibli">
    <h3>Chercher un ouvrage par ordre alphabétique</h3>
  </div>
  <div class="post_descript">
    <div class="sommaire-content">
    {{ page.content | markdownify }}
    </div>
  </div>
    <h2 class="color_autres">Liste des ouvrages</h2>
    <div class="sommaire-content">
      {% assign sorted = site.data.ouvrages | sort: 'nom' %}
      {% assign count = 0 %}
      {% for ouvrage in sorted %}
      {% capture count %}{{ count | plus:1 }}{% endcapture %}
        {% assign currentnom = ouvrage.nom %}{% assign currentprenom = ouvrage.prenom %}
        {% capture firstletter %}{{ ouvrage.nom | slice: 0 }}{% endcapture %}
        <ul class="{{ouvrage.ID_categorie}}">
          {% if prevletter != firstletter %}
            <h2 class="liste_alpha" id="#{{ firstletter }}">{{ firstletter }}</h2>
            {% assign prevletter = firstletter %}
          {% endif %}
          {% if prevnom != ouvrage.nom and prevprenom != ouvrage.prenom %}
            <h3 class="liste_ouvrages_auteurs">{{ ouvrage.nom | upcase}} {{ ouvrage.prenom }}</h3>
            {% assign prevnom = currentnom %}
            {% assign prevprenom = currentprenom %}
          {% endif %}
          <li>
            <i>{{ ouvrage.titre }}</i>, {{ ouvrage.editions }}, {{ ouvrage.annee}}, {{ ouvrage.pages}} pages{% if ouvrage.id_emprunt and ouvrage.id_emprunt != 'NULL' %}, <span class="cercle"></span> emprunté{% endif %}
          </li>
        </ul>
        {% endfor %}
        {{ count }}
    </div>
</article>
{% include scripts/sommaire.html %}
