---
layout: default
---
<div class="evenements">
  <ul class="liste-posts">
    {% if page.tag %}
    {% assign sorted = site.categories[page.tag] | sort: reverse %}
    {% for post in sorted %}
        <li>
          <div class="event_dates">
            <p class="event_type">{% if post.type %}{{post.type}} &middot; {% endif %}{{post.dates_publiees}}</p>
          </div>
          <a href="{{ post.url }}">
          <h3 class="color_pod event_titre">{{ post.title }}</h3>
          </a>
          {% for artiste in post.artiste %}
            {% for item in artiste %}
            <h4 class="event_art">{{ item }}</h4>
            {% endfor %}
          {% endfor %}
        </li>
<img class="ptte-ligne" src="/imgs/ptte-ligne.gif"/>
    {% endfor %}
    {% endif %}
    </ul>
</div>
