---
layout: default
---
<div class="evenements">
  <h1 class="liste_titre">Événements à venir</h1>
  <ul class="liste-posts">
    {% assign sorted = site.posts | sort: 'date_debut' %}
    {% for post in sorted %}
      {% if post.categories contains "rencontre" or post.categories contains "associatif" or post.categories contains "divers" %}
        {% if post.draft != true %}
          {% capture debutdate %}{{ post.date_debut | date: "%Y-%m-%d"}}{% endcapture %}
          {% capture nowdate %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
          {% capture findate %}{{ post.date_fin | date: "%Y-%m-%d"}}{% endcapture %}
          {% capture nowdate %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
          {% if findate >= nowdate or debutdate >= nowdate %}
          <li>
            <div class="event_dates">
              <p class="event_type">{{post.dates_publiees}}</p>
            </div>
            <a href="{{ post.url }}">
              {% if post.categories contains "rencontre" %}<h3 class="color_renc event_titre">{% elsif post.categories contains "associatif" %}<h3 class="color_asso event_titre">{% else %}<h3 class="color_autres event_titre">{% endif %}{{ post.title }}</h3>
            </a>
            {% for artiste in post.artiste %}
              {% for item in artiste %}
                <h4 class="event_art">{{ item }}</h4>
              {% endfor %}
            {% endfor %}
            <p class="event_type">{% if post.tarif %}{{post.tarif}}{% endif %}</p>
            <p>{% if post.lieu %}{{post.lieu}}{% endif %}</p>
          </li>
          <img class="ptte-ligne" src="/imgs/ptte-ligne.gif"/>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <h1 class="liste_titre">Événements passés</h1>
  <ul class="liste-posts">
    {% assign count = 0 %}
    {% assign sorted = site.posts | sort: 'date_debut'| reverse %}
    {% for post in sorted %}
      {% if post.draft != true %}
        {% capture findate %}{{ post.date_fin | date: "%Y-%m-%d"}}{% endcapture %}
        {% capture debutdate %}{{ post.date_debut | date: "%Y-%m-%d"}}{% endcapture %}
        {% capture nowdate %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
          {% if findate <= nowdate and debutdate <= nowdate %}
            <li>
              {% assign count = count | plus:1 %}
              <div class="event_dates">
                <p class="event_type">{{post.dates_publiees}}</p>
              </div>
              <a href="{{ post.url }}">
                {% if post.categories contains "residence" %}<h3 class="color_res event_titre">
                {% elsif post.categories contains "evenement" %}<h3 class="color_renc event_titre">
                {% elsif post.categories contains "associatif" %}<h3 class="color_asso event_titre">
                {% elsif post.categories contains "podcast" %}<h3 class="color_pod event_titre">
                {% else %}<h3 class="color_autres event_titre">{% endif %}{{ post.title }}</h3>
              </a>
              {% for artiste in post.artiste %}
                {% for item in artiste %}
                  <h4 class="event_art">{{ item }}</h4>
                {% endfor %}
              {% endfor %}
              {% if post.categories contains "podcast" %}{{ post.content}}{% endif %}
              <p class="event_type">{% if post.tarif %}{{post.tarif}}{% endif %}</p>
              <p>{% if post.lieu %}{{post.lieu}}{% endif %}</p>
              </li>
              {% if count == 10 %}{% break %}{% endif %}
              <img class="ptte-ligne" src="/imgs/ptte-ligne.gif"/>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>


<div class="actus">
  <div class="encart color_res">
  {% for post in site.categories.residence %}
    {% capture debutdate %}{{ post.date_debut | date: "%Y-%m-%d"}}{% endcapture %}
    {% capture findate %}{{ post.date_fin | date: "%Y-%m-%d"}}{% endcapture %}
    {% capture nowdate %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
    {% if debutdate <= nowdate and findate >= nowdate %}
    <div class="encart_res">
      <h2 class="encart_titre">Résidence en cours</h2>
      <a href="{{ post.url }}">
        <h3 class="encart_artiste">{{ post.artiste }}</h3>
      </a>
      <div class="event_dates">{{ post.title }}<br>{{ post.dates_publiees }}</div>
    </div>
    {% endif %}
    {% if debutdate >= nowdate %}
    <div class="encart_res">
      <h2 class="encart_titre">Résidence à venir</h2>
      <a href="{{ post.url }}">
          <h3>{{ post.artiste }} &middot {{ post.title }}</h3>
      <div class="event_dates">{{ post.dates_publiees }}</div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
  {% for post in site.categories.appel %}
    {% capture debutdate %}{{ post.date_debut | date: "%Y-%m-%d"}}{% endcapture %}
    {% capture findate %}{{ post.date_fin | date: "%Y-%m-%d"}}{% endcapture %}
    {% capture nowdate %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
    {% if debutdate <= nowdate and findate >= nowdate %}
    <div class="encart_res">
        <h2 class="encart_titre">Appel à candidature</h2>
        <a href="{{ post.url }}">
          <h3>{{ post.title }}</h3>
          <div class="event_dates">{{ post.dates_publiees }}</div>
        </a>
    </div>
    {% endif %}
  {% endfor %}
  <a href="/category/residence" class="liencat">Toutes les résidences</a>
</div>
{% assign sortedpod = site.categories.podcast | sort: 'date_debut' | reverse %}
  {% for post in sortedpod limit:1 %}
  <div class="encart color_pod">
    <h2 class="encart_titre">Dernier podcast</h2>
    {{ post.content }}
    <p class="encart_infos">{{ post.title }} &middot; {{post.artiste}} &middot; {{post.dates_publiees}}</p>
      <a href="/category/podcast" class="liencat">Tous les podcasts</a>
  </div>

  {% endfor %}
  <div class="encart color_autres">
    <h2 class="encart_titre">Dernières acquisitions</h2>
    <ul>
    <li class="encart_infos"><b>Rochery Samuel</b>, <i>Mauviette</i>, Ni fait ni à faire, 2022</li>
    <li class="encart_infos"><b>Tawada Yoko</b>, <i>Aventures dans la grammaire allemande</i>, La Contre-Allée, 2022</li>
    <li class="encart_infos"><b>Benamer Nora</b>, <i>Les hommes</i>, Suck Campari Dyke, 2019</li>
    <li class="encart_infos"><b>Brion Mia</b>, <i>A Name Ore</i>, Suck Campari Dyke, 2020</li>
    <li class="encart_infos"><b>Labor Soto</b>, <i>Trompette</i>, Publication Studio Paris / After 8 Books, 2021</li>
    </ul>
  </div>
</div>
