---
layout: default
---
<article class="journal">
  <div class="header_page color_autres ">
    <div class="titre_page"><h1>{{ page.title }}</h1></div>
  </div>
  <ul>
    {% assign sorted = site.journal | reverse %}
    {% for article in sorted %}
      {% if article.draft != true %}
        {% assign counter = counter | plus: 1 %}
        {% if counter == 2 %}
        <div id="post_deux"></div>
        {% elsif counter == 3 %}
        <div id="post_trois"></div>
        {% endif %}
        <li class="list_journal">
        <p>{{ article.date | date: "%-d/%m/%Y"}} &middot; {{ article.auteur }}</p>
        <h3 class="titre_page color_autres">{{ article.title }}</h3>
        <div class="post_descript">
          {{ article.content | markdownify}}
        </div>
        <hr>
      {% endif %}
    {% endfor %}
    </li>
  </ul>
  <div class="to-top">
    <h4><a href="#top">↑ Retourner en haut ↑</a></h4>
  </div>
</article>
