---
layout: default
---
<article>
  <div>
      {% if page.categories contains "residence" %}<div class="encart color_res">{% elsif page.categories contains "rencontre" %}<div class="encart color_renc">{% elsif page.categories contains "associatif" %}<div class="encart color_asso">{% elsif page.categories contains "podcast" %}<div class="encart color_pod">{% elsif page.categories contains "scolaires" %}<div class="encart color_scol">{% else %}<div class="encart color_autres">{% endif %}
        <div class="titre_page"><h1>{{ page.title }}</h1></div>
      </div>
    </div>
    <div class="encart-meta">
      <p>{% if page.artiste %}<b>Avec : </b>{% assign artistes = page.artiste %}{% for item in artistes %}<span class="chapeau_artistes">{{ item }}</span>{% endfor %}{% endif %}</p>
      <p>{% if page.dates_publiees %}<b>Date(s) :</b> {{ page.dates_publiees }}{% endif %}</p>
      <p>{% if page.lieu %}<b>Lieu(x) :</b> {{ page.lieu }}{% endif %}</p>
      <p>{% if page.partenaires %}<b>Partenaire(s) :</b> {{ page.partenaires}}{% endif %}</p>
      <p>{% if page.tarif %}<b>Tarif :</b> {{ page.tarif }}{% endif %}</p>
    </div>
    <div class="post_descript">
      <div class="post_content">
    {{ page.content | markdownify }}
    </div>
    </div>
<hr>
    <div class="artiste_bio">
      {% for item in artistes %}
        {% for artiste in site.artistes %}
          {% if artiste.name == item %}
          {{ artiste.content | markdownify }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
</article>
