---
layout: default
---
<article>
  {% if page.ref == 'residences'%}
    <div class="header_page color_res">
  {% elsif page.ref == 'maison' %}
    <div class="header_page color_asso">
  {% elsif page.ref == 'scolaires' %}
    <div class="header_page color_scol">
  {% elsif page.ref == 'journal' %}
    <div class="header_page color_pod">
  {% else %}
    <div class="header_page color_autres">
  {% endif %}
      <div class="titre_page"><h1>{{ page.title }}</h1></div>
  </div>
  <div class="sommaire">
  </div>
  <div class="post_descript">
    <div class="sommaire-content">
      {{ page.content | markdownify }}
    </div>
  </div>
  {% if page.ref == "residences" %}
    {% include scripts/residence_list.html %}
  {% endif %}
  <div class="to-top">
    <h4><a href="#top">↑ Retourner en haut ↑</a></h4>
  </div>
</article>
{% include scripts/sommaire.html %}
<script>
  const myImages = document.images;
  for (let i = 0; i < myImages.length; i++){
    if (myImages[i].id != "logo"){
      const imgUrl= myImages[i].src;
      const imgWrapper = document.createElement('a');
      imgWrapper.href= imgUrl;
      imgWrapper.target = "_blank";
      myImages[i].parentNode.insertBefore(imgWrapper, myImages[i]);
      imgWrapper.appendChild(myImages[i]);
    }
  }
</script>
