---
layout: default
---
<article>
    {% if page.title == 'Résidences'%}
      <div class="encart_rubrique color_res">
    {% elsif page.title == 'La Maison' %}
      <div class="encart_rubrique color_asso">
    {% elsif page.title == 'Les scolaires' %}
    <div class="encart_rubrique color_scol">
    {% elsif page.title == 'Journal' %}
    <div class="encart_rubrique color_pod">
    {% else %}
    <div class="encart_rubrique color_autres">
    {% endif %}
        <div class="titre_page"><h1>{{ page.title }}</h1></div>
    </div>
    <div class="post_descript">
      <div class="sommaire">
      </div>
    {{ page.content | markdownify }}
    </div>
{% if page.title == "Résidences" %}
  {% include scripts/residence_list.html %}
{% endif %}
</article>

{% include scripts/sommaire.html %}
